<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>DOM</title>
  <link rel="stylesheet" href="/public/css/style.css" />
</head>

<body id="bodyID">

  <div class="divclass">1</div>
  <div class="divclass">2</div>
  <div class="divclass">3</div>
  <div class="not-divclass">4</div>

  <br>
  <button id="makeit-btn">Agregar nombre a la lista</button>

  <ul id="listaNoSe">
    <li>Futuros makers</li>
  </ul>
</body>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script type="text/javascript" src="/public/js/exercises.js"></script>

</html>