<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DOM</title>
    <link rel="stylesheet" href="/public/css/style.css" />
  </head>

  <body id="bodyID">
    <p class="clase-css-parrafo">
      Esto es un párrafo que contiene <a href="#">un enlace</a> en el medio.
    </p>
    <p class="clase-css-parrafo" id="parrafoID" onclick="myFunction()">
      Esto es un párrafo II
    </p>
    <div class="click-class">
      <h6>Haz me click</h6>
    </div>

    <div class="click-class">
      <h6>Haz me click 2</h6>
    </div>

    <form action="/form" id="formID" method="POST">
      <!-- <input name="username" type="text" id="" /> -->
      <input type="checkbox" id="horns" name="horns" />
      <label for="horns">Horns</label>
      <input name="last-input" type="text" id="last-input" />
      <!-- <button type="submit">Send Form</button> -->
    </form>
  </body>
  <script type="text/javascript" src="/public/js/main.js"></script>
</html>
