<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DOM</title>
    <link rel="stylesheet" href="/public/css/style.css" />
  </head>

  <body id="bodyID">
    <p class="clase-css-parrafo">
      Esto es un párrafo que contiene <a href="#">un enlace</a> en el medio.
    </p>
    <p class="clase-css-parrafo" id="parrafoID">
      Esto es un párrafo II
    </p>
    <div class="click-class">
      <h6>Has me click</h6>
    </div>
    <form action="/" id="formID" method="GET">
      <input type="text" name="username" id="" />
      <input type="submit" value="Submit" />
    </form>
  </body>
  <script type="text/javascript" src="/public/js/main.js"></script>
</html>
